html

  head
    title='Pikapi show case'
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css")
    style
      include ../public/style.css

  body
    h1=message
    div(class="ui card centered")
      div(class="image")
        img(src=pokemon.picture)
      div(class="content")
        a(class="header")=pokemon.name
        div(class="meta")
          span(class="meta")=pokemon.type

    script
      script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.js")
 
